[submodule "libs/UnityOctree"]
	path = libs/UnityOctree
	url=https://github.com/Unity-Technologies/UnityOctree.git
[submodule "libs/VRLineRenderer"]
	path = libs/VRLineRenderer
	url = https://github.com/Unity-Technologies/VRLineRenderer
[submodule "libs/xr-authoring"]
	path = libs/xr-authoring
	url = https://github.com/Unity-Technologies/xr-authoring.git
	branch = native-input
