[submodule "libs/UnityOctree"]
	path = libs/UnityOctree
	url=https://github.com/Unity-Technologies/UnityOctree.git
[submodule "libs/VRLineRenderer"]
	path = libs/VRLineRenderer
	url = https://github.com/Unity-Technologies/VRLineRenderer
